/**************************************************************************/
/************************************|*************************************/
/**************************************************************************/
.aligncenter {
  text-align: center;
}
.alignleft {
  text-align: left;
}
.alignright {
  text-align: right;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.none {
  display: none;
}
.hidden {
  visibility: hidden;
}
.clear {
  clear: both;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.floatleft {
  float: left !important;
}
.floatright {
  float: right !important;
}
.margin0 {
  margin: 0px !important;
}
.margin0_top {
  margin-top: 0px !important;
}
.margin0_right {
  margin-right: 0px !important;
}
.margin0_bottom {
  margin-bottom: 0px !important;
}
.margin0_left {
  margin-left: 0px !important;
}
.margin5 {
  margin: 5px !important;
}
.margin5_top {
  margin-top: 5px !important;
}
.margin5_right {
  margin-right: 5px !important;
}
.margin5_bottom {
  margin-bottom: 5px !important;
}
.margin5_left {
  margin-left: 5px !important;
}
.margin10 {
  margin: 10px !important;
}
.margin10_top {
  margin-top: 10px !important;
}
.margin10_right {
  margin-right: 10px !important;
}
.margin10_bottom {
  margin-bottom: 10px !important;
}
.margin10_left {
  margin-left: 10px !important;
}
.margin15 {
  margin: 15px !important;
}
.margin15_top {
  margin-top: 15px !important;
}
.margin15_right {
  margin-right: 15px !important;
}
.margin15_bottom {
  margin-bottom: 15px !important;
}
.margin15_left {
  margin-left: 15px !important;
}
.margin20 {
  margin: 20px !important;
}
.margin20_top {
  margin-top: 20px !important;
}
.margin20_right {
  margin-right: 20px !important;
}
.margin20_bottom {
  margin-bottom: 20px !important;
}
.margin20_left {
  margin-left: 20px !important;
}
.padding0 {
  padding: 0px !important;
}
.padding0_top {
  padding-top: 0px !important;
}
.padding0_right {
  padding-right: 0px !important;
}
.padding0_bottom {
  padding-bottom: 0px !important;
}
.padding0_left {
  padding-left: 0px !important;
}
.padding5 {
  padding: 5px !important;
}
.padding5_top {
  padding-top: 5px !important;
}
.padding5_right {
  padding-right: 5px !important;
}
.padding5_bottom {
  padding-bottom: 5px !important;
}
.padding5_left {
  padding-left: 5px !important;
}
.padding10 {
  padding: 10px !important;
}
.padding10_top {
  padding-top: 10px !important;
}
.padding10_right {
  padding-right: 10px !important;
}
.padding10_bottom {
  padding-bottom: 10px !important;
}
.padding10_left {
  padding-left: 10px !important;
}
.padding15 {
  padding: 15px !important;
}
.padding15_top {
  padding-top: 15px !important;
}
.padding15_right {
  padding-right: 15px !important;
}
.padding15_bottom {
  padding-bottom: 15px !important;
}
.padding15_left {
  padding-left: 15px !important;
}
.padding20 {
  padding: 20px !important;
}
.padding20_top {
  padding-top: 20px !important;
}
.padding20_right {
  padding-right: 20px !important;
}
.padding20_bottom {
  padding-bottom: 20px !important;
}
.padding20_left {
  padding-left: 20px !important;
}
.border {
  border: 1px solid black;
}
.border_bottom {
  border-bottom: 1px solid black;
}
.border_top {
  border-top: 1px solid black;
}
.border_left {
  border-left: 1px solid black;
}
.border_right {
  border-right: 1px solid black;
}
.centermargin {
  margin: 0 auto 0 !important;
}
.relative {
  position: relative;
}
.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.width5 {
  width: 5% !important;
}
.width10 {
  width: 10% !important;
}
.width15 {
  width: 15% !important;
}
.width20 {
  width: 20% !important;
}
.width25 {
  width: 25% !important;
}
.width30 {
  width: 30% !important;
}
.width35 {
  width: 35% !important;
}
.width40 {
  width: 40% !important;
}
.width45 {
  width: 45% !important;
}
.width50 {
  width: 50% !important;
}
.width55 {
  width: 55% !important;
}
.width60 {
  width: 60% !important;
}
.width65 {
  width: 65% !important;
}
.width70 {
  width: 70% !important;
}
.width75 {
  width: 75% !important;
}
.width80 {
  width: 80% !important;
}
.width85 {
  width: 85% !important;
}
.width90 {
  width: 90% !important;
}
.width95 {
  width: 95% !important;
}
.width100 {
  width: 100% !important;
}
/******************************Font******************************/
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.underline {
  text-decoration: underline;
}
.font8pt {
  font-size: 8pt !important;
}
.font9pt {
  font-size: 9pt !important;
}
.font10pt {
  font-size: 10pt !important;
}
.font11pt {
  font-size: 11pt !important;
}
.font12pt {
  font-size: 12pt !important;
}
.font13pt {
  font-size: 13pt !important;
}
.font14pt {
  font-size: 14pt !important;
}
.font15pt {
  font-size: 15pt !important;
}
.font16pt {
  font-size: 16pt !important;
}
.font17pt {
  font-size: 17pt !important;
}
.font18pt {
  font-size: 18pt !important;
}
.font19pt {
  font-size: 19pt !important;
}
.font20pt {
  font-size: 20pt !important;
}
.font21pt {
  font-size: 21pt !important;
}
.font22pt {
  font-size: 22pt !important;
}
.font23pt {
  font-size: 23pt !important;
}
.font24pt {
  font-size: 24pt !important;
}
.font25pt {
  font-size: 25pt !important;
}
.font26pt {
  font-size: 26pt !important;
}
.font27pt {
  font-size: 27pt !important;
}
.font28pt {
  font-size: 28pt !important;
}
.font29pt {
  font-size: 29pt !important;
}
.font30pt {
  font-size: 30pt !important;
}
body {
  margin: 0px;
  padding: 0px;
  color: #b9b9b9;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 12px;
  line-height: 1.5em;
  background: #cccccc url(../img/body.jpg) repeat;
}
body a:link,
body a:visited {
  color: #da9d0c;
  font-weight: bold;
  text-decoration: underline;
}
body a:hover {
  color: #99FF00;
  text-decoration: none;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
  color: #000;
}
body #header {
  width: 1024px;
  padding: 0;
  margin: 0 auto 20px auto;
}
body #header .title {
  float: left !important;
  width: 500px;
  height: 160px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
body #header .title a {
  display: block;
  width: 500px;
  height: 30px;
  margin: 0px;
  padding: 130px 0px 0 170px;
  font-size: 14px;
  color: #ffffff;
  font-weight: normal;
  text-decoration: none;
  background: url(../img/logo.png) no-repeat top left;
}
body #menu_wrapper {
  clear: both;
  width: 100%;
  height: 50px;
  background: url(../img/menu_wrapper.jpg) repeat-x;
}
body #menu_wrapper .menu {
  width: 984px;
  height: 50px;
  padding: 0 20px;
  margin: 0 auto;
  background: #262626;
}
body #menu_wrapper .menu ul {
  height: 33px;
  margin: 0;
  padding: 8px 0 0 0;
  list-style: none;
}
body #menu_wrapper .menu ul li {
  padding: 0;
  margin: 0;
  display: inline-block;
}
body #menu_wrapper .menu ul li .greeting {
  position: relative;
  display: block;
  height: 26px;
  padding: 7px 28px;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  font-weight: normal;
  text-align: center;
}
body #menu_wrapper .menu ul li a {
  position: relative;
  display: block;
  height: 26px;
  padding: 7px 28px;
  font-size: 15px;
  color: #fff;
  text-decoration: none;
  font-weight: normal;
  text-align: center;
  outline: none;
}
body #menu_wrapper .menu ul li a:hover,
body #menu_wrapper .menu ul li .current {
  color: #fff;
  background: url(../img/menu_right.jpg) no-repeat top right;
}
body #menu_wrapper .menu ul li a:hover span,
body #menu_wrapper .menu ul li .current span {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 33px;
  background: url(../img/menu_left.jpg) no-repeat;
}
body #main {
  position: relative;
  width: 964px;
  padding: 0 30px 50px;
  margin: 0 auto;
  background: #272727 url(../img/content_top.jpg) top no-repeat;
}
body #main .tm_bottom {
  position: absolute;
  width: 1024px;
  height: 60px;
  bottom: 0;
  left: 0;
  background: url(../img/content_bottom.jpg) no-repeat;
}
body #main .content {
  float: left;
  width: 600px;
  padding: 30px 30px 30px 0;
  border-right: 1px dashed #363636;
}
body #main .content h1 span {
  color: #20c4d3;
}
body #main .content .content_box {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px dashed #363636;
}
body #main .content .post_box {
  clear: both;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px dashed #363636;
}
body #main .content .post_box:last-child {
  margin: 0;
  padding: 0;
  border: none;
}
body #main .content .post_box .header {
  position: relative;
  margin-bottom: 10px;
}
body #main .content .post_box .header a {
  color: #FFFFFF;
  font-weight: normal;
  text-decoration: none;
}
body #main .content .post_box .header a:hover {
  color: #999999;
}
body #main .content .post_box .header .tag {
  font-size: 11px;
  color: #999999;
}
body #main .content .post_box .header .tag a {
  font-size: 11px;
  color: #666666;
}
body #main .content .post_box .header .tag a:hover {
  color: #CCCCCC;
}
body #main .content .post_box .header h2 {
  margin: 0;
  padding: 5px 0;
}
body #main .content .post_box .header .posted_date {
  position: absolute;
  font-size: 11px;
  color: #2b2b2b;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  padding: 8px 3px 0 0;
  text-align: center;
  background: url(../img/date.jpg) no-repeat;
}
body #main .content .post_box .header .posted_date strong {
  display: block;
  margin-top: -1px;
}
body #main .content .post_box img {
  width: 108px;
  height: 108px;
  border: 5px solid #fff;
  float: left;
  margin-right: 30px;
}
body #main .content .post_box .pb_right {
  float: right;
  width: 450px;
}
body #main .content .post_box .comment a {
  display: block;
  margin-top: 15px;
  background: url(../img/comment.jpg) no-repeat bottom left;
  padding: 3px 0 0 25px;
}
body #main .sidebar {
  float: right !important;
  width: 280px;
}
body #main .sidebar .sidebar_box {
  clear: both;
}
body #main .sidebar .sidebar_box .sb_content {
  padding: 20px;
}
body #main .sidebar .sidebar_box h3 {
  width: 190px;
  height: 38px;
  margin: 0;
  padding: 42px 0 0 90px;
  color: #fff;
  background: url(../img/site_header.png) no-repeat left top !important;
}
body #main .sidebar .sidebar_box a {
  text-decoration: none;
  color: #b9b9b9;
}
body #main .sidebar .sidebar_box .sidebar_menu {
  margin: 0;
  padding: 0;
  list-style: none;
}
body #main .sidebar .sidebar_box .sidebar_menu li {
  margin: 0 0 5px 0;
  padding: 3px 0;
  border-bottom: 1px solid #303030;
}
body #main .sidebar .sidebar_box .sidebar_menu li a {
  text-decoration: none;
  font-size: 11px;
  font-weight: normal;
  background: url(../img/list.jpg) no-repeat top left;
  display: block;
  padding-left: 20px;
}
body #main .sidebar .sidebar_box .sidebar_menu li a span {
  color: #f00;
}
body #bottom {
  clear: both;
  width: 1024px;
  height: 168px;
  margin: 0 auto;
  padding: 40px 0 0;
  background: url(../img/footer.jpg) no-repeat;
}
body #bottom .bottom_box {
  float: left;
  margin-left: 20px;
  width: 256px;
  padding: 20px 20px 0;
  background: url(../img/footer_box.png) no-repeat;
}
body #bottom .bottom_box h5 {
  color: #b3b3b3;
}
body #bottom .bottom_box h5 span {
  color: #26c6d5;
}
body #bottom .bottom_box a.continue {
  font-weight: normal;
  float: right;
  color: #26c6d5;
}
body #bottom .bottom_box .bottom_box_list {
  margin: 20px 0;
  padding: 0;
}
body #bottom .bottom_box .bottom_box_list li {
  background: url(../img/footer_list.png) no-repeat scroll 0 3px;
  margin: 0 0 10px;
  padding: 0 0 3px 15px;
  line-height: 16px;
}
body #bottom .bottom_box .bottom_box_list li a {
  color: #8e8e8e;
  text-decoration: underline;
  font-weight: normal;
}
body #bottom .bottom_box .bottom_box_list li a:hover {
  text-decoration: none;
}
body #footer {
  clear: both;
  width: 1024px;
  margin: 0 auto;
  padding: 10px 0;
  color: #999999;
  text-align: center;
}
body #footer a {
  color: #999999;
  font-weight: normal;
}
body #footer .footer_menu {
  margin: 0 0 5px 0;
  padding: 0;
}
body #footer .footer_menu li {
  margin: 0;
  padding: 0 5px;
  border-left: 1px solid #6b6b6b;
  display: inline-block;
}
body #footer .footer_menu li a {
  color: #6b6b6b;
  font-size: 11px;
}
body #footer .footer_menu li a:hover {
  color: #fff;
}
body #footer .footer_menu .first {
  border: none;
}
body .smallForm {
  margin-bottom: 15px !important;
  width: 300px;
  margin: 0px auto 30px;
  padding: 10px;
  position: relative;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
}
body .smallForm h1 {
  text-align: center;
  color: #20c4d3 !important;
}
body .smallForm h2 {
  color: #20c4d3 !important;
}
body .largeForm {
  margin-bottom: 15px !important;
  width: 800px;
  margin: 0px auto 30px;
  padding: 10px;
  position: relative;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
}
body .largeForm h1 {
  text-align: center;
  color: #20c4d3 !important;
}
body .largeForm h2 {
  color: #20c4d3 !important;
}
body .dataTable {
  width: 100%;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
}
body .dataTable tr:nth-child(1) {
  background: #2f2f2f;
  background: -moz-linear-gradient(top, #131313 1%, #191919 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #131313), color-stop(100%, #191919));
  background: -webkit-linear-gradient(top, #131313 1%, #191919 100%);
  background: -o-linear-gradient(top, #131313 1%, #191919 100%);
  background: -ms-linear-gradient(top, #131313 1%, #191919 100%);
  background: linear-gradient(to bottom, #131313 1%, #191919 100%);
  height: 27px;
  color: white;
}
body .dataTable td:first-child {
  padding-left: 5px !important;
}
body .dataTable td:last-child {
  padding-right: 5px !important;
}
body .dataTable td {
  vertical-align: middle;
}
body .dataTable .data {
  height: 35px;
  background-color: #1f1f1f;
  border-bottom: 1px solid black;
}
body .dataTable .data td:nth-child(1) {
  padding-left: 2px;
}
body .dataTable .data input {
  margin-bottom: 10px;
}
body .dataTable .dataHover {
  height: 30px;
  border-bottom: 1px solid black;
  background-color: #313131;
}
body .dataTable .dataHover td:nth-child(1) {
  padding-left: 2px;
}
body .dataTable .data:hover {
  background-color: #313131;
}
/**************************************************************************/
/*********************************Utilities********************************/
/**************************************************************************/
input {
  margin-top: 10px;
}
input[type=text],
input[type=password] {
  margin-bottom: 15px;
  display: block;
  color: #20c4d3;
  width: 282px;
  height: 30px;
  border: 1px solid #333;
  background: none;
  padding: 0 5px;
}
input[type="text"]:hover,
input[type="password"]:hover {
  border-color: #333;
}
input[type=submit],
input[type=button] {
  height: 33px;
  border: 1px solid #313131;
  width: 100%;
  color: white;
  background: #2f2f2f;
  background: -moz-linear-gradient(top, #131313 1%, #191919 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #131313), color-stop(100%, #191919));
  background: -webkit-linear-gradient(top, #131313 1%, #191919 100%);
  background: -o-linear-gradient(top, #131313 1%, #191919 100%);
  background: -ms-linear-gradient(top, #131313 1%, #191919 100%);
  background: linear-gradient(to bottom, #131313 1%, #191919 100%);
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-shadow: inset 0 1px rgba(33, 33, 33, 0.4), 0 2px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  font-size: 14px;
  font-weight: bold;
}
input[type=button]:hover,
input[type=submit]:hover {
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.2), inset 0 20px 30px rgba(30, 30, 30, 0.9);
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="submit"]:focus,
input[type="button"]:focus {
  -moz-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.15);
  -o-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.15);
  -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.15);
  outline: none;
}
textarea {
  margin-bottom: 15px;
  display: block;
  color: #20c4d3;
  width: 282px;
  height: 115px;
  border: 1px solid #333;
  background: none;
  padding: 0 5px;
}
.errorHr {
  border: 1px dashed #363636;
}
.redButton {
  background: #4b0000 !important;
  background: -moz-linear-gradient(top, #7d0000 1%, #4b0000 100%) !important;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #7d0000), color-stop(100%, #4b0000)) !important;
  background: -webkit-linear-gradient(top, #7d0000 1%, #4b0000 100%) !important;
  background: -o-linear-gradient(top, #7d0000 1%, #4b0000 100%) !important;
  background: -ms-linear-gradient(top, #7d0000 1%, #4b0000 100%) !important;
  background: linear-gradient(to bottom, #7d0000 1%, #4b0000 100%) !important;
}
.errors {
  text-transform: capitalize;
  line-height: 12pt;
  color: #f74c4c;
  display: none;
  font-size: 10pt;
  margin-bottom: 10px;
}
h1 {
  font-size: 30px;
  font-weight: normal;
  margin: 0 0 20px 0;
  padding: 5px 0;
  color: #9b9b9b !important;
}
h2 {
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 20px 0;
  padding: 10px 0 15px 0;
  color: #fff;
}
h3 {
  font-size: 20px;
  font-weight: normal;
  margin: 0 0 15px 0;
  padding: 0;
  padding: 0 0 10px 0;
}
h4 {
  font-size: 18px;
  margin: 0 0 20px 0;
  padding: 0 0 10px 0;
}
h5 {
  font-size: 16px;
  margin: 0 0 10px 0;
  padding: 0;
}
h6 {
  font-size: 14px;
  margin: 0 0 5px 0;
  padding: 0;
}
.errorInput,
.errorInput:hover {
  -moz-box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.25) !important;
  -o-box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.25) !important;
  -webkit-box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.25) !important;
  box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.25) !important;
  outline: none;
}
.sortable {
  margin: 0;
}
.listMenu {
  margin: 0;
  padding: 0;
  list-style: none;
}
.listMenu li {
  margin: 0 0 5px 0;
  padding: 3px 0;
  border-bottom: 1px solid #303030;
}
.listMenu li a {
  text-decoration: none;
  font-size: 11px;
  font-weight: normal;
  background: url(../img/list.jpg) no-repeat top left;
  display: block;
  padding-left: 20px;
}
.listMenu li a span {
  color: #f00;
}
